.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.carousel-inner .item img,
.post-img img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.post-img {
    overflow: hidden;
}

.post .category {
    z-index: 10;
}

.profile-thumb-holder {
    background-size: contain!important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;margin-top: 4px;
    float: left;
    margin-top: 1px;
    margin-right: 6px;
}

.profile-label {
    margin-top: 3px;
    display: inline-block;
    float: left;
}