/* =======================
   Config
   ======================= */

/* =======================
   Fontface
   ======================= */

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/pt_sans-narrow-web-regular-webfont.eot");
  src: url("../fonts/pt_sans-narrow-web-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pt_sans-narrow-web-regular-webfont.woff2") format("woff2"), url("../fonts/pt_sans-narrow-web-regular-webfont.woff") format("woff"), url("../fonts/pt_sans-narrow-web-regular-webfont.ttf") format("truetype"), url("../fonts/pt_sans-narrow-web-regular-webfont.svg#pt_sans_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/pt_sans-narrow-web-bold-webfont.eot");
  src: url("../fonts/pt_sans-narrow-web-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pt_sans-narrow-web-bold-webfont.woff2") format("woff2"), url("../fonts/pt_sans-narrow-web-bold-webfont.woff") format("woff"), url("../fonts/pt_sans-narrow-web-bold-webfont.ttf") format("truetype"), url("../fonts/pt_sans-narrow-web-bold-webfont.svg#pt_sans_narrowbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* =======================
   Base
   ======================= */

body {
  font-family: "PT Sans Narrow", Helvetica, sans-serif;
  color: #333333;
  background: #f5f5f5;
}

a {
  color: #991722;
}

a:hover {
  color: #560d13;
  /*transition: .3s;*/
}

a:focus,
a:active {
  color: #560d13;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

p {
  color: text-color;
}

textarea {
  resize: vertical;
}

label {
  font-weight: normal;
}

/* =======================
   Layout
   ======================= */

.l-header {
  background: #f5f5f5;
  padding: 0 15px 15px;
}

.l-news-page {
  background: #f5f5f5;
  padding: 15px 15px 0;
}

.l-sidebar .white-sidebar {
  background: #fff;
  padding: 0 15px;
}

.l-profile-page {
  background: #f5f5f5;
  padding: 15px 15px 0;
}

.l-profile-sidebar .white-sidebar {
  padding: 15px;
}

.l-create-post-page {
  background: #f5f5f5;
  padding: 15px 15px 0;
}

.l-post-list-page {
  background: #f5f5f5;
  padding: 15px 15px 0;
}

.l-profile-settings-page {
  background: #f5f5f5;
  padding: 15px 15px 0;
}

/* =======================
   Modules
   ======================= */

.post {

}

.post-img {
  position: relative;
}

.post-title {
  font-size: 2em;
  color: #333333;
  margin: 5px 0;
  /*height: 41px!important;*/
}

.post-title a {
  color: #333333;
}

.post-desc {
  font-size: 1.2em;
  margin: 10px 0;
}

.post-toolbar {
  display: block;
  overflow: auto;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  margin: 15px 0;
  padding: 5px 0;
}

.post-toolbar .author {
  text-transform: uppercase;
  float: left;
  color: #999999;
}

.post-toolbar .controls {
  float: right;
}

.post-toolbar .controls a {
  display: inline-block;
  padding: 0 5px;
  color: #999999;
}

.post-toolbar .controls a span {
  color: #991722;
}

.post-toolbar .controls .btn-twitter,
.post-toolbar .controls .btn-facebook {
  color: #fff;
  padding-top: 1px;
}

.post-toolbar .controls .btn-facebook {
  margin-right: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.post.post-red .post-title a {
  color: #991722;
}

.post.post-red .single-title {
  color: #991722;
}

.post.post-red .category {
  background: #991722;
}

.post.post-blue .post-title a {
  color: #25387d;
}

.post.post-blue .single-title {
  color: #25387d;
}

.post.post-blue .category {
  background: #25387d;
}

.post.post-green .post-title a {
  color: #00a651;
}

.post.post-green .single-title {
  color: #00a651;
}

.post.post-green .category {
  background: #00a651;
}

.post-sidebar {
  border-bottom: 1px solid #b3b3b3;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.post-sidebar .img{
  background-size: cover!important;
}

.post-sidebar .post-title {
  font-size: 1.6em;
}

.post-sidebar .author {
  color: #b3b3b3;
  text-transform: uppercase;
}

.post-sidebar .post-toolbar {
  border: none;
}

.post-profile {
  border-bottom: 1px solid #b3b3b3;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.post-profile .post-title {
  font-size: 1.6em;
}

.post-profile .author {
  color: #b3b3b3;
  text-transform: uppercase;
}

.post-profile .post-toolbar {
  border: none;
}

.post-single .post-body p {
  /*display: inline;*/
}

.post-single .post-meta .category {
  float: left;
  display: inline-block;
}

.post-single .post-meta .date {
  float: right;
  display: inline-block;
  margin-top: 5px;
}

.post-single .post-meta .author {
  background: #fff;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.post-single .post-meta .author img {
  width: 32px;
  height: 32px;
}

.post-single .post-meta .author span {
  margin-left: 10px;
}

.post-single .post-meta .author a {
  text-transform: uppercase;
}

.post-single .post-desc {
  font-style: italic;
}

.post-single .post-toolbar .btn {
  margin-right: 5px;
}

.post-single .post-toolbar .btn.btn-right {
  margin-right: 0;
}

.post-single .post-body {
  font-size: 1.2em;
}

.module-title h3 {
  position: relative;
  color: #991722;
  text-transform: uppercase;
  border-top: 1px solid #991722;
  border-bottom: 1px solid #991722;
  padding: 5px 0;
  text-indent: 45px;
}

.module-title h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 100%;
  background: #991722;
}

.module-title h3:after {
  font-family: "FontAwesome";
  content: "";
  font-size: 1.2em;
  text-indent: 0;
  color: #fff;
  position: absolute;
}

.module-title h3.plus:after {
  content: "\f067";
  top: 3px;
  left: 7px;
}

.module-title h3.star:after {
  content: "\f006";
  top: 3px;
  left: 5px;
}

.module-title h3.top:after {
  content: "\f0aa";
  top: 3px;
  left: 5px;
}

.module-title h3.list:after {
  content: "\f00b";
  top: 5px;
  left: 5px;
  font-size: 1em;
}

.btn {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary {
  background: #991722;
  color: #fff;
}

.btn-primary:hover {
  background: #c51e2c;
}

.btn-primary:focus,
.btn-primary:active {
  background: #af1a27 !important;
}

.btn-facebook {
  background: #3b5998;
  color: #fff;
}

.btn-facebook:hover {
  background: #4c70ba;
  color: #fff;
}

.btn-facebook:focus,
.btn-facebook:active {
  background: #4264aa !important;
  color: #fff;
}

.btn-twitter {
  background: #55acee;
  color: #fff;
}

.btn-twitter:hover {
  background: #83c3f3;
  color: #fff;
}

.btn-twitter:focus,
.btn-twitter:active {
  background: #6cb7f0 !important;
  color: #fff;
}

.btn-rules {
  position: absolute;
  top: 10px;
  max-width: 96.1%;
}

.btn-rules i.fa {
  float: right;
  font-size: 1.4em;
}

.btn-rules i.fa-book {
  float: left;
  font-size: 1.4em;
}

.btn-right {
  float: right;
}

.btn-left {
  float: left;
}

header .btns-container {
  float: left;
}

header .btns-container .btn {
  margin-top: 18px;
  margin-right: 10px;
}

header .logo-container {
  text-align: center;
}

header .search-container {
  float: right;
}

header .search-container .navbar-form {
  margin-top: 18px;
  margin-left: 5px;
  padding-right: 0;
}

header .search-container .navbar-form input {
  border-radius: 0;
}

header h1.logo {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  width: 524px;
  height: 103px;
  margin: 15px auto;
  margin-top: 5px;
  text-align: center;
  background: url("../images/logo.png") no-repeat center center;
  background-size: contain;
  text-indent: -9999px;
}

header .nav {
  text-transform: uppercase;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.intro {
  margin-top: 133px;
  padding-bottom: 30px;
}

.intro .inner-intro {
  background: rgba(255, 255, 255, 0.8);
  padding: 1px 30px 30px;
}

.intro h1 {
  text-align: center;
  color: #991722;
  text-transform: uppercase;
}

.intro i {
  font-weight: 700;
}

.intro p {
  border-top: 1px solid #991722;
  border-bottom: 1px solid #991722;
  padding: 15px 0;
  font-size: 1.4em;
}

.intro h2 {
  text-align: center;
  text-transform: uppercase;
  color: #991722;
  border-bottom: 1px solid #991722;
  padding-bottom: 15px;
}

.intro .login-btns {
  border-bottom: 1px solid #991722;
  padding-bottom: 15px;
  text-align: center;
}

.intro .login-btns .btn {
  width: 265px;
}

.intro .or {
  display: inline-block;
  color: #991722;
  padding: 0 15px;
  font-size: 1.4em;
}

.page-bg {
  position: absolute;
  height: 568px;
  width: 100%;
  top: 0;
  left: 0;
  background: url("../images/typewriter.jpg") no-repeat center -70px;
  z-index: -1;
}

.page-bg.news-bg {
  background: url("?holder.js/100px550?theme=industrial") no-repeat center -70px;
}

.intro-img {
  text-align: center;
}

.intro-desc {
  background: #fff;
  padding: 30px;
  font-size: 1.4em;
}

.intro-desc i {
  font-weight: 700;
}

.bleeding {
  margin: 0;
  padding: 0;
}

.registration-form {
  margin-top: 60px;
  padding: 30px;
}

.registration-form form {
  border-bottom: 1px solid #991722;
  padding: 30px 0;
}

.registration-form h1 {
  text-align: center;
  color: #991722;
  text-transform: uppercase;
  border-top: 1px solid #991722;
  border-bottom: 1px solid #991722;
  padding: 15px 0;
}

.registration-form label {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 10px;
  padding-left: 5px;
}

.registration-form input {
  font-size: 1.2em;
}

footer {
  background: #808080;
  color: #fff;
  padding: 15px 0;
}

footer .logo-container h1.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  background: url("../images/logo-footer.png") no-repeat;
  width: 328px;
  height: 65px;
  text-indent: -9999px;
}

.footer-col {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.footer-col p {
  margin: 0;
}

.adv {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  // background-color: #434a52;
}

.adv.body-adv {
  margin: 0;
  padding: 0;
}

.adv.inline-adv {
  display: inline;
}

aside .adv {
  padding-bottom: 15px;
}

aside .module-title h3 {
  margin-top: 0;
}

#carousel-latest {
  position: relative;
}

#carousel-latest .carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  text-align: left;
}

#carousel-latest .carousel-caption span.post-date {
  color: #fff;
}

#carousel-latest .carousel-caption h1 {
  color: #fff;
  font-size: 1.8em;
  margin: 5px 0;
}

#carousel-latest .carousel-caption h1 a {
  color: #fff;
}

#carousel-latest .carousel-caption .author {
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-top: 5px;
}

#carousel-latest .carousel-caption .author i {
  background: #991722;
  border-radius: 50%;
  padding-top: 2px;
}

#carousel-latest .carousel-caption .category {
  position: absolute;
  background: #333333;
  color: #fff;
  font-size: 1.2em;
  padding: 3px 15px;
  top: -29px;
  left: 0;
}

#carousel-latest .carousel-caption .category-blue {
  background: #25387d;
}

#carousel-latest .carousel-caption .category-red {
  background: #991722;
}

.file-preview-image {
  max-width: 100%;
  height: auto!important;
}

#carousel-latest .carousel-caption .category-green {
  background: #00a651;
}

#carousel-latest .widget-title {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: #991722;
}

#carousel-latest .widget-title a {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.carousel-control.left,
.carousel-control.right {
  background: transparent;
  height: 50px;
  top: 30%;
  margin-top: -25px;
  width: 50px;
}

.carousel-indicators {
  top: 5px;
  right: 5px;
  padding: 0px 5px;
  left: auto;
  bottom: auto;
  width: auto;
}

.category {
  position: absolute;
  background: #333333;
  color: #fff;
  font-size: 1.2em;
  padding: 3px 15px;
  top: 0;
  left: 0;
}

.category a {
  color: #fff;
}

.category-blue {
  background: #25387d;
}

.smaller-titles h1 {
  font-size: 1.4em;
}

.profile-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2em;
  border-bottom: 1px solid #333333;
}

.profile-data {
  text-align: center;
  padding: 15px 0;
}

.profile-data .col-first,
.profile-data .col-second,
.profile-data .col-third {
  border: 1px solid #333333;
  height: 150px;
}

.profile table tr th {
  text-align: center;
  border-bottom: 0;
  font-size: 1.2em;
  vertical-align: middle;
  font-weight: normal;
}

.profile table tr td {
  width: 33.3%;
  vertical-align: middle;
  border-top: 0;
  font-size: 2em;
}

.profile-social .btn-primary {
  border-radius: 50%;
  margin: 0 10px;
}

.profile-desc {
  text-align: left;
  padding: 15px 0;
}

.profile-post-list {
  padding-top: 15px;
}

.profile-post-list {
  padding-top: 0px;
}

.profile-post-list .nav-tabs {
  border: 0 !important;
}

.profile-post-list .nav-tabs li a {
  border: 0 !important;
  border-radius: 0;
}

.profile-post-list .tab-content {
  background: #fff !important;
  padding: 0 15px 5px;
}

.page-title {
  color: #991722;
  border-top: 1px solid #991722;
  border-bottom: 1px solid #991722;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
  padding: 5px 0;
}

.form-control {
  border-radius: 0;
  border-color: #991722;
}

.bootstrap-tagsinput {
  border-radius: 0;
  border-color: #991722;
  font-size: 1.2em !important;
}

.bootstrap-tagsinput .label {
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
  border-radius: 0;
  margin: 3px;
}

.social-share {
  margin: 15px 0;
}

.social-share .btn {
  margin: 15px 0;
  background: transparent;
  border: 1px solid #b3b3b3;
  padding: 7px 0;
}

.btn-upload {
  padding-top: 35px;
  padding-bottom: 35px;
}

.post-list {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.post-list label {
  color: gray;
  font-size: 1.2em;
  text-transform: none;
  font-weight: normal;
  display: inline-block;
  padding: 5px 0;
}

.post-list select {
  background: #e6e6e6;
  border-color: #b3b3b3;
  color: black;
}

.post-list .action {
  display: inline-block;
  font-size: 1.4em;
  vertical-align: middle;
}

.post-list table {
  margin: 15px 0;
}

.post-list table th {
  background: #b3b3b3;
  color: #fff;
  font-weight: normal;
}

.post-list table tr td {
  vertical-align: middle;
}

.profile-pic-settings-box {
  margin-top: 40px;
}

.profile-settings-panel h4 {
  font-weight: bold;
}

.input-block {
  margin: 30px 0;
}

.dropdown-menu {
  background: #991722;
  border-radius: 0;
}

.dropdown-menu li a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-menu li a i {
  margin-left: -10px;
  margin-right: 5px;
}

.open > .dropdown-toggle.btn-primary {
  background: #991722;
}

#user-dropdown {
  position: absolute;
  top: 52px !important;
}

#notify-dropdown {
  position: absolute;
  top: 52px !important;
  left: -5px;
  padding: 0;
}

#notify-dropdown li:last-of-type a {
  border-bottom: 0;
}

#notify-dropdown li.viewed a {
  background: #6d1018;
  color: #aaa;
}

#notify-dropdown li a {
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
}

.btn-notify {
  padding: 7.5px 15px;
  margin-left: -5px;
  position: relative;
}

.btn-notify .badge {
  position: absolute;
  top: -3px;
  right: -7px;
  border: 1px solid #991722;
  color: #991722;
}

.dataTables_scrollHead {
  position: static !important;
  overflow: visible !important;
}

/* =======================
   State
   ======================= */

/* =======================
   Theme
   ======================= */

/* =======================
   Plugins
   ======================= */

/* =======================
   Responsive
   ======================= */

@media (max-width: 767px) {
  header .search-container {
    margin-top: -12px;
  }

  header .search-container .btn {
    display: none;
  }

  .intro .login-btns .btn {
    width: auto;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro .login-btns .btn {
    width: auto;
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .intro .login-btns .btn {
    width: auto;
    display: block;
  }
}

@media (min-width: 1200px) and (max-width: 1364px) {
  .intro .login-btns .btn {
    width: auto;
    display: block;
  }
}

/* =======================
   Shame
   ======================= */

.no-margin h3 {
  margin-top: 0;
}

.nav #dropdownMenu2 {background: transparent;}
.nav #dropdownMenu2:hover {color: #991722;}

