footer
	.container
		.logo-container
			h1.logo Sito Pubblico
		.row
			.col-sm-4
				.footer-col
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi iusto, iste dignissimos, veritatis nam numquam, libero ullam illo saepe, distinctio repellat. Temporibus eligendi consequatur, consequuntur sequi officia, obcaecati doloribus animi!
			.col-sm-4
				.footer-col
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi iusto, iste dignissimos, veritatis nam numquam, libero ullam illo saepe, distinctio repellat. Temporibus eligendi consequatur, consequuntur sequi officia, obcaecati doloribus animi!
			.col-sm-4
				.footer-col
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi iusto, iste dignissimos, veritatis nam numquam, libero ullam illo saepe, distinctio repellat. Temporibus eligendi consequatur, consequuntur sequi officia, obcaecati doloribus animi!