header
	.container
		.l-header
			.btns-container
				a.btn.btn-primary Accedi
				a.btn.btn-primary Registrati
			.search-container
				form.navbar-form(role='search')
					.form-group
						input.form-control(type='text', placeholder='Cerca nel sito...')
					button.btn.btn-primary(type='submit'): i.fa.fa-search
			.logo-container
				h1.logo Sito Pubblico
	
			ul.nav.nav-pills.nav-justified
				li
					a(href="#") Home
				li
					a(href="#") Controinformazione
				li
					a(href="#") Politica
				li
					a(href="#") Salute
				li
					a(href="#") Alimentazione
				li
					a(href="#") Expat
				li
					a(href="#") Cronaca
				li
					a(href="#") Economia
				li
					a(href="#") Società
				li
					a(href="#") Altro