mixin post(title, attributes)
	.post(class!=attributes.class)
		.post-img
			.category
				a(href="#") Cronaca
			img(src!=attributes.src).img-responsive
		h1.post-title
			a(href="#")= title
		if block
			block
		else
			//- h2.post-desc No content provided.
			//- h2.post-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vitae a alias facer
		.post-toolbar
			span.author Antonio Mautone
			span.controls
				a(href="#") #[span 32] Condivisioni 
				a.btn.btn-facebook(href="#") #[i.fa.fa-facebook]
				a.btn.btn-twitter(href="#") #[i.fa.fa-twitter]

mixin post-sidebar(title, attributes)
	.post.post-sidebar(class!=attributes.class)
		.row
			.col-xs-6
				.post-img
					.category
						a(href="#") Cronaca
					img(src!=attributes.src).img-responsive
			.col-xs-6
				h1.post-title
					a(href="#")= title
				.post-toolbar
					span.author Michele Crotti

mixin post-profile(title, attributes)
	.post.post-profile(class!=attributes.class)
		.row
			.col-xs-6
				.post-img
					.category
						a(href="#") Cronaca
					img(src!=attributes.src).img-responsive
			.col-xs-6
				h1.post-title
					a(href="#")= title
				.post-toolbar
					span.author Michele Crotti
					span.date
					span.controls
						a(href="#") #[span 32] Condivisioni 
						a.btn.btn-facebook(href="#") #[i.fa.fa-facebook]
						a.btn.btn-twitter(href="#") #[i.fa.fa-twitter]
