.l-sidebar.l-profile-sidebar
	aside
		.white-sidebar
			
			.profile
				.profile-pic
					img(data-src="holder.js/100px320").img-responsive
				h1.profile-name Michele Crotti
				span Iscritto il 14.02.2012
				
				.profile-data

					table.table.table-bordered
						thead
							tr
								th news
								th commenti
								th contributor level
						tbody
							tr
								td
									b 12
								td
									b 0
								td
									img(data-src="holder.js/48x48")
					
					.profile-social
						a.btn.btn-primary(href="#") #[i.fa.fa-facebook]
						a.btn.btn-primary(href="#") #[i.fa.fa-twitter]
						a.btn.btn-primary(href="#") #[i.fa.fa-google]
						a.btn.btn-primary(href="#") #[i.fa.fa-globe]

					.profile-desc
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, placeat dicta? Mollitia sint consectetur at repellendus obcaecati error unde dolores quod, inventore, deleniti rem temporibus optio nesciunt, quas eligendi tempore.

					.adv
						img(data-src="holder.js/100px250?theme=social")
