.l-sidebar
	.adv
		img(data-src="holder.js/100px250?theme=social")
	.adv
		img(data-src="holder.js/100px250?theme=social")
	aside
		.white-sidebar
			.module-title
				h3.star In evidenza
			
			+post-sidebar('Lorem ipsum dolor sit amet, consectetur adipisicing elit impedit.')(data-src="holder.js/100px150", class="post-red")

			+post-sidebar('Lorem ipsum dolor sit amet, consectetur adipisicing elit impedit.')(data-src="holder.js/100px150", class="post-green")

			+post-sidebar('Lorem ipsum dolor sit amet, consectetur adipisicing elit impedit.')(data-src="holder.js/100px150", class="post-blue")