/* =======================
   Responsive
   ======================= */

// Extra small devices (767px)
@media (max-width: $screen-xs-max) {

header {
	.search-container {
		margin-top: -12px;
		.btn {
			display: none;
		}
	}
}

.intro {
	.login-btns {
		.btn {
			width: auto;
			display: block;
		}
	}
}

}

// Small devices (from 768px to 991px)
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

	.intro {
		.login-btns {
			.btn {
				width: auto;
				display: block;
			}
		}
	}

}

// Medium devices (from 992px to 1199px)
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

	.intro {
		.login-btns {
			.btn {
				width: auto;
				display: block;
			}
		}
	}

}

// Large devices (from 1200px and up)
@media (min-width: $screen-lg-min) and (max-width: 1364px) {

	.intro {
		.login-btns {
			.btn {
				width: auto;
				display: block;
			}
		}
	}		

}

// Large devices (from 1200px and up)
@media (min-width: 1365px) {

	

}
